a.mobile-menu {
	display: none;
	color: red;
	i {
		position: relative;
		top: -1px;
	}
	h2 {
		margin-left: 10px;
		display: inline-block;
		text-transform: uppercase;
	}
	@media (max-width: @phone) {
		display: block;
	}
}
.sidebar {
	padding-right: 15px;
	background-color: @white;
	@media (max-width: @phone) {
		padding-right: 0;
		.transition( all 0.1s ease-in-out );
		&.reveal {
		}
	}
	.products {
		margin-bottom: 2em;
		h2 {
			text-transform: uppercase;
			font-size: 25px;
			margin-bottom: 10px;
			@media (max-width: @phone) {
				display: none;
			}
		}
		.product {
			padding: 5px 0 5px 10px;
			@media (max-width: @phone) {
				border-top: 1px solid @gray;
				padding-left: 0;
				&:last-of-type {
					border-bottom: 1px solid @gray;
				}
			}
		}
	}
	.live-chat, .fill-station-pillow {
		margin-bottom: 2em;
		img {
			width: 100%;
			height: auto;
		}
	}
	.services {
		.col-4 {
			text-align: center;
		}
		img {
			width: 100%;
			height: auto;
		}
		p {
			font-size: 9px;
			font-weight: bold;
			text-transform: uppercase;
		}
		@media (max-width: @phone) {
			img{
				width: auto;
			}
		}
	}
}

.content {
	@media (max-width: @phone) {
		.transition( all 0.1s ease-in-out );
		&.hide {
		}
	}
}
.site-wrapper {
	@media (max-width: @phone) {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
}

@media (max-width: @phone) {
	.site-canvas {
		width: 100%;
		height: 100%;
		position: relative;
		.translate(0, 0);
		.transition(all 0.3s ease);
	}
	.site-menu {
		margin-top: 20px;
		width: 325px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -325px;
		.products,
		.live-chat,
		.fill-station-pillow,
		.services {
			padding-left: 30px;
		}
	}
	.show-nav .site-canvas {
		.translate(325px, 0);
	}
}