body.single {
	#main {
		section.product-info {
			max-width: @desktop;
			margin: 0 auto;
			& > .row {
				padding: 0 15px;
			}
			.content {
				.info {
					img {
						float: left;
						margin-right: 10px;
					}
					h3 {
						font-size: 20px;
						margin-bottom: 10px;
					}
					span {
						font-size: 12px;
						font-family: @font-family-secondary;
					}
					p {
						font-size: 16px;
					}
				}
				.features {
					position: relative;
					margin-bottom: 2em;
					h3 {
						font-size: 20px;
						margin-bottom: 10px;
					}
					ul {
						list-style-type: none;
						li {
							margin: 10px 0;
							font-family: @font-family-secondary;
						}
					}
					& > ul {
						padding: 0;
						margin: 10px 0;
						span {
							font-family: @font-family-secondary;
							font-weight: 700;
						}
						ul {
							padding-left: 30px;
						}
					}
					.contact {
						text-transform: uppercase;
						font-family: @font-family-primary;
						color: @red;
						position: absolute;
						bottom: 0;
						right: 0;
					}
				}
				.pictures {
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}